button{
    height: 2rem;
    width: 3rem;
    background-color: wheat;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:hover:not(:disabled) {
  background-color: green; /* hover green only if not disabled */
  color: white;
}


.counterContent{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.counterValue{
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
}

td{
    align-content: start;
    text-align: left;
    border: 0.1rem solid;
    border-color: black;
    border-width: 0.1rem;
    padding: 0.5rem;
}