.App {
  text-align: center;
  height: 100vh;
}

.parent-screen {
  display: flex;
  flex-direction: column;
  height: calc(100%-8rem);
}

.banner {
  height: 8rem;
  font-size: 20px;
  align-items: center;
}
.banner-message {
  font-size: 20px;
  padding: 1rem;
  align-items: center;
  font-family: "Lucida Sans";
  font-style: italic;
}

.banner-header {
  font-size: 30px;
  font-weight: 100;
}

.parent-container {
  display: flex;
  flex-direction: row;
  border-color: black;
  border-radius: 2px;
  height: 100%;
  gap: 1rem;
  width: 100%;
}

.navbar-container {
  min-height: 100%;
  border-radius: 2rem;
  border-color: black;
  background-color: #f9f9f9;
  position: center;
  gap: 10px;
  width: 15rem;
  padding: 1rem;
}

.message-div {
  background-color: ghostwhite;
  border-radius: 2rem;
  width: 100%;
}

.message-container {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  border: 3rem;
  border-radius: 1rem;
}

.message-display-flexbox {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-radius: 2rem;
  width: 100%;
  max-height: 100%;
  border: 3rem;
  gap: 15px;
  flex-basis: max-content;
  border-radius: 1rem;
  overflow-y: auto;
}

.message-display-container {
  padding: 0.3rem;
  display: block;
  background-color: #f9f9f9;
  width: 100%;
  height: 500px;
  border: 3rem;
  border-radius: 1rem;
}

.navbar-content {
  height: 100%;
  border-radius: 2rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-color: black;
  background-color: #f9f9f9;
}

.channels-panel-button {
  height: auto;
  width: auto;
  border: 3rem;
  border-radius: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
